.Header,
.Screen,
.Detail {
	position: absolute;
	padding: 36px 64px;
}

.Header {
	white-space: nowrap;
}

.Header .Item {
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
	padding: 5px 20px;
	margin-right: 10px;
}

.Header .Item.focused {
	outline: none;
	box-shadow: 0 0 0 6px #fec401;
}

.screen-about .Header .Item.about,
.screen-media .Header .Item.media,
.screen-search .Header .Item.search,
.screen-setup .Header .Item.setup {
	background: white;
	color: black;
}

.Screen {
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.screen-about .AboutScreen,
.screen-media .MediaScreen,
.screen-search .SearchScreen,
.screen-setup .SetupScreen {
	display: block;
}

.MediaScreen .rows {
	position: absolute;
	top: 400px;
	transition: transform .5s;
	backface-visibility: hidden;
	will-change: transform;
}

.MediaScreen .Row {
	white-space: nowrap;
	transition: transform .5s, opacity .5s;
	backface-visibility: hidden;
	will-change: transform, opacity;
	margin-bottom: 20px;
}

.MediaScreen .Row .Item {
	width: 140px;
	height: 210px;
	background: #222 no-repeat center/cover;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	overflow: hidden;
}

.MediaScreen .Row.up {
	opacity: 0;
}

.MediaScreen .Row.down {
	opacity: 0;
}

.Detail {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding-top: 100px;
}

.Detail .background {
	background: no-repeat center/cover;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: .5;
	z-index: -1;
}

.Detail p {
	width: 800px;
	margin-top: 10px;
}